html, body {
  margin: 0;
}

html {
  background-color: #fefefe;
  font-family: 'Ubuntu', sans-serif;
}

body {
  margin: 15px;
}

iframe, textarea {
  border: solid 1px #aaa;
  border-radius: 5px;
}

details > summary {
  font-size: 18px;
  margin-bottom: 10px;
}

h1 {
  margin-top: 15px !important;
}

h2 {
  margin-top: 12px !important;
}

h3 {
  margin-top: 8px !important;
}

.tippy-box {
  position: relative;
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.4;
  white-space: normal;
  outline: 0;
  transition-property: transform,visibility,opacity;
}

.tippy-content {
  position: relative;
  padding: 5px 9px;
  z-index: 1;
}
